attrs==19.3.0
betamax==0.8.1
betamax-serializers==0.2.1
certifi==2019.11.28
chardet==3.0.4
filelock==3.0.12
idna==2.8
more-itertools==8.0.0
packaging==19.2
pluggy==0.13.1
py==1.8.0
pyparsing==2.4.5
pytest==5.3.1
requests==2.22.0
six==1.13.0
toml==0.10.0
tox==3.14.2
urllib3==1.25.7
virtualenv==16.7.8
wcwidth==0.1.7
